<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Field App</title>
  {{!-- <link rel="stylesheet" href="/css/jass.css"> --}}
  <link rel="stylesheet" href="./css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="header jumbotron jumbotron-fluid">
        <div class="football_header">
            <img class="image" src="./assets/Football field.png" alt="Football Field Background">
        </div>
        <div class="logo container">
          <img src="./assets/TheFieldlogo.png" alt="Logo">
        </div>
    </header>

    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="./js/logout.js"></script>
  {{/if}}
</body>

</html>
