<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Field</title>

<!-- Local -->
<link rel="stylesheet" href="./node_modules/@glidejs/glide/dist/css/glide.core.css">
<link rel="stylesheet" href="./node_modules/@glidejs/glide/dist/css/glide.theme.css">
<!-- CDN -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide@latest/dist/css/glide.core.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide@latest/dist/css/glide.theme.min.css">

<link rel="stylesheet" href="/css/glide.core.css">
<link rel="stylesheet" href="/css/glide.theme.css">
<link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div>
        {{{body}}}
    </div>


  <!-- Render script for logged in users only -->
  {{!-- {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}} --}}

</body>


</html>