<header class="content-hero">
        <img src="images/TheFieldlogo.png" alt="The Field Logo">
    </header>

<div class='content-container'>

  <form id='post-and-comment'>

    <div class='main-post'>
        <textarea class='post'
        placeholder='Add your post here...'>
        </textarea>
    </div>

    <button type='submit' class='add-post'>Add Post</button> 
    <button type='submit' class='del-post'>Delete Post</button>
    
    <div class='main-comment'>
        <textarea class='comment'
        placeholder='Add your comment here...'>
        </textarea>
    </div>
    <button type='submit' class='add-comment'>Add Comment</button>
    <button type='submit' class='del-comment'>Delete Comment</button>

  </form>
</div>