<header class="content-hero">
        <img src="images/TheFieldlogo.png" alt="The Field Logo">
    </header>

    <div class="thread-main">
        <div class="thread-header">
        </div>
        <textarea class='thread-textarea' 
        placeholder='Add comment here...'></textarea>
        <button class='thread-btn'>add comment</button>
        <div class="thread-comments">
        </div>
    </div>