<div>
  {{#each locations as |location|}}
  <div>
    <h2>{{location.name}}</h2>
  </div>

  {{#each sports as |sport|}}
    <div>
      <a href="/sport">{{name}}</a>
    </div>
  {{/each}}
  {{/each}}
</div>

