.thread-main {
    color:white;
}

/*hero img*/
.hero {
    background-image: url("/images/Football\ field.png"); 
    background-repeat: no-repeat; 
    background-color: green; 
    height: 300px; 
    background-position: center; 
    background-size: cover; 
}
/*bind to*/
.logo {
    width: 150px; 
    height: 150px; 
    position: relative; 
    animation-name: logo; 
    animation-duration: 4s; 
    padding-top: 50px;
}
/*animation code*/
@keyframes logo {
    0% {left: 0px; top: 150px; }
    25% {left: 400px; top: 150px;}
    50% {left: 800px; top: 150px;}
    100% {left: 400px; top: 150px; }
}
/*needs a centered start position and responsive stuff, 
perhaps @media to adjust the animation?*/

/*carousel*/
.container {
    height: 50vh; 
    width: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 10px; 
}
html, body {
    height: 100%; 
    background-color: black;
}
/*location selection*/
.location {
    height: 15vh; 
    width: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 10px; 
    color: white; 
}
.whereabouts {
    list-style-type: none;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 10px;
    margin: 5px; 
    flex-wrap: wrap;  
}
.city { 
    padding: 10px;
    color: white;  
}
button {
    background-color: black; 
    color: white; 
    margin: 5px;
    border-color: green;  
}
/*login*/
.form, h2 {
    color: white; 
}
.btn {
    padding: 10px;
    margin-left: 100px; 
    border-radius: 5px;
}
.login-container {
    height: 50vh; 
    width: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-direction: column; 
}
.form-input {
    margin: 5px;
    border-radius: 5px; 
}
/*content*/
.content-container {
    width: 100%;  
}
.main-post {
    border: solid 1px green;
    height: 25vh;
    border-radius: 15px;
    color: white;
    padding: 20px;   
}
.main-comment {
    border: solid 1px green;
    height: 25vh; 
    border-radius: 15px; 
    color: white; 
    padding: 20px;  
}
.content-hero {
    border: solid 10px green; 
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 10px; 
    border-radius: 15px; 
}
.add-post, 
.del-post, 
.add-comment, 
.del-comment {
    margin: 10px; 
    padding: 2px;
    border-radius: 5px;
    color: lightgreen;  
    
}
.post, .comment {
    width: 100%;
    height: 200px;  
}
/*forum thread*/
.thread-main {
    height: 25vh;
    display: flex; 
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}
.thread-btn {
    margin: 10px; 
    padding: 5px; 
}
.thread-textarea {
    width: 80%;
    margin: 10px;  
}